<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> 
    <title>Document</title>
  </head>
  <body class="font-sans bg-gray-50 antialiased text-gray-900 leading-normal tracking-wider bg-cover" >

    <div class="bookDetail">
      <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
    
        <!--Main Col-->
        <div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">
        
      
          <div class="p-4 md:p-12 text-center lg:text-left">
            <!-- Image for mobile view-->
            <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('{{book.cover}}')"></div>

            
            <h1 class="capitalize text-3xl font-bold pt-8 lg:pt-0">{{ book.title }}</h1>
            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-blue-500 opacity-25"></div>
            <p class="capitalize pt-4 text-base font-bold flex items-center justify-center lg:justify-start"> {{ book.author }}</p>
            <p ></p> 
              <ul >
               <li  class="capitalize ">{{ book.genre }}</li>
               <li  class="capitalize ">{{ book.pages }} pág.</li>
               <li  class="capitalize ">{{book.publisher}}</li>
               <li  class="capitalize ">{{book.publication_year}}</li>
               <li  class="capitalize "> {{ book.country }}</li>
               <li  class="capitalize ">{{ book.isBorrowed ? "Prestado" : "" }}</li>
               <li> Prestado por/a {{ book.borrowedTo }} {{ book.borrowedBy }}</li>

              </ul> 
           
        
      
            <div class="mt-6 pb-16 lg:pb-0 w-4/5 lg:w-full mx-auto flex flex-wrap items-center justify-between">
              <img class= "favoritos h-6 fill-current text-gray-600 hover:text-green-700" style="cursor: pointer;" (click)="addToFavorites()" src="../../../assets/icons/favs_icon.png" >
              <img class="h-6 fill-current text-gray-600 hover:text-green-700" style="cursor: pointer;" (click)="addToRead()" src="../../../assets/icons/read_icon.png"> 
             <img class="h-6 fill-current text-gray-600 hover:text-green-700" style="cursor: pointer;" src="../../../assets/icons/share_icon.png">
              
            </div>
            
         
      
          </div>
      
        </div>
        
    
        <div class="w-full lg:w-2/5 hidden lg:block">
        
          <img src="{{book.cover}}" class="rounded-none lg:rounded-lg shadow-2xl w-full h-full object-cover">
      </div>
        
        
       
      </div>
      
       

 
    </div>
  </body>
</html>
