<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="font-sans bg-gray-50 antialiased text-gray-900 leading-normal tracking-wider bg-cover mt-20">

 @if (books.length > 0) {<h1 class="capitalize"><b>{{author}}</b></h1>}


 <section id="Projects"
 class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
@for (book of books; track $index) { 
  <div class="w-72 p-2 bg-gray-50 shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl sm:p-2">
      <a routerLink="/catalogo/{{ book._id }}">
          <img  src="{{ book.cover ? book.cover : 'https://i.ibb.co/F4schKv/A4-documento-Portada-minimalista-negro.png' }}"
          alt="{{ book.title }}" class="h-80 w-72 object-cover rounded-t-xl" />
          <div class="px-4 py-3 w-72">
              <span class="text-gray-400 mr-3 uppercase text-xs">{{ book.genre }}</span>
              <p class="text-lg font-bold text-black truncate block capitalize">{{ book.title }}</p>
              <div class="flex items-center">
                  <p class="text-lg text-gray cursor-auto my-3 capitalize">{{ book.author }}</p>
              </div>
          </div>
      </a>
  </div>
} 
</section>
</body>
</html>
