<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    class="font-sans bg-gray-50 antialiased text-gray-900 leading-normal tracking-wider bg-cover mt-20"
  >
    <div
      class="border border-gray-300 p-6 grid grid-cols-1 gap-6 bg-gray-50 shadow-lg rounded-lg"
    >
      <div class="bg-gray-50 flex flex-col md:flex-row">
        <div class="bg-gray-50">
          <h5 class="text-green-700">Género</h5>
          <select [(ngModel)]="searchGenre" (change)="searchBooksbyGenre()">
            <option value="">Todos</option>
            <option value="no ficción">No ficción</option>
            <option value="novela">Novela</option>
            <option value="novela gráfica">Novela Gráfica</option>
            <option value="poesía">Poesía</option>
            <option value="relatos">Relatos</option>
          </select>
        </div>

        <div class="pt-6 md:pt-0 md:pl-6">
          <h5 class="text-green-700">Año de publicación</h5>
          <input
            type="number"
            [(ngModel)]="searchYear"
            (input)="searchBooksbyYear()"
            placeholder="Año de publicación"
          />
        </div>

        <div class="pt-6 md:pt-0 md:pl-6">
          <h5 class="text-green-700">Número máximo de páginas</h5>
          <input
            type="number"
            [(ngModel)]="searchPages"
            (input)="searchBooksbyPages()"
            placeholder="número de páginas"
          />
        </div>
        <div class="pt-6 md:pt-0 md:pl-6">
          <h5 class="text-green-700">¿Es prestado?</h5>
          <select
            [(ngModel)]="searchBorrowed"
            (change)="searchBooksbyBorrowed()"
          >
            <option value=""></option>
            <option value="true">Prestado</option>
            <option value="false">No prestado</option>
          </select>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="grid grid-cols-2 gap-2 border border-gray-200 p-2 rounded">
          <input
            class="flex border rounded bg-gray-50 items-center p-2"
            type="text"
            [(ngModel)]="searchTitle"
            (input)="searchBooksbyTitle()"
            placeholder="Buscar libro por título..."
          />

          <input
            class="flex border rounded bg-gray-50 items-center p-2"
            type="text"
            [(ngModel)]="searchAuthor"
            (input)="searchBooksbyAuthor()"
            placeholder="Buscar libro por autoría..."
          />
        </div>
        <div class="grid grid-cols-2 gap-2 border border-gray-200 p-2 rounded">
          <input
            class="flex border rounded bg-gray-50 items-center p-2"
            type="text"
            [(ngModel)]="searchLanguage"
            (input)="searchBooksbyLanguage()"
            placeholder="Buscar libro por idioma..."
          />

          <input
            class="flex border rounded bg-gray-50 items-center p-2"
            type="text"
            [(ngModel)]="searchCountry"
            (input)="searchBooksbyCountry()"
            placeholder="Buscar libro por país..."
          />
        </div>
      </div>
      <div class="flex justify-center">
        <button
          class="mx-auto lg:mx-0 uppercase py-2 px-4 rounded-lg bg-green-600 hover:bg-green-900 border-2 border-transparent text-white text-md mr-4 transition duration-150 ease-in-out"
        >
          Buscar
        </button>
      </div>
    </div>

    <div
      class="font-sans bg-gray-50 antialiased text-gray-900 leading-normal tracking-wider bg-cover"
    >
      <div class="py-16 sm:py-24 lg:mx-auto lg:max-w-7xl lg:px-8">
        <div class="flex items-center justify-between px-4 sm:px-6 lg:px-0">
          <h2 class="text-2xl tracking-tight text-green-600">
            Libros disponibles ({{ catalogueLength }})
          </h2>
        </div>

        <section
          id="Projects"
          class="w-fit bg-gray-50 mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
        >
          @for (book of booksList; track $index) {

          <div
            class="w-72 bg-gray-50 shadow-md rounded-xl transition duration-500 transform hover:scale-105 hover:shadow-xl sm:p-2 cursor-pointer"
          >
            <a routerLink="/catalogo/{{ book._id }}">
              <img
                src="{{
                  book.cover
                    ? book.cover
                    : 'https://i.ibb.co/F4schKv/A4-documento-Portada-minimalista-negro.png'
                }}"
                alt="{{ book.title }}"
                class="h-80 w-72 object-cover rounded-t-xl"
              />
              <div class="px-4 py-3 w-72">
                <span class="text-gray-400 mr-3 uppercase text-xs">{{
                  book.genre
                }}</span>
                <p
                  class="text-lg font-bold text-black truncate block capitalize"
                >
                  {{ book.title }}
                </p>
                <div class="flex items-center">
                  <p class="text-lg text-gray cursor-auto my-3 capitalize">
                    {{ book.author }}
                  </p>
                </div>
              </div>
            </a>
          </div>
          }
        </section>
      </div>
    </div>
  </body>
</html>
