<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <title>NavbarJGP</title>
  </head>
  <body>

    <nav class="font-sans bg-gray-50 flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-gray-50 shadow sm:items-baseline w-full">
      <div class="mb-2 sm:mb-0">
        <img routerLink="/" 
        class="h-14 fill-current inline cursor-pointer"
              src="../../../assets/images/logoJGP1-removebg-preview.png"
            />
      </div>
      <div>
        <a  routerLink="catalogo" class="text-lg p-2 no-underline text-grey-darkest hover:text-blue-dark ml-2">Catálogo</a>
        <a routerLink="autoras" class="text-lg p-2 no-underline text-grey-darkest hover:text-blue-dark ml-2">Autoras/es</a>
        <a routerLink="genero" class="text-lg p-2 no-underline text-grey-darkest hover:text-blue-dark ml-2">Géneros</a>

<!--    @if (showUserLi) {
          <li class="mr-3">
            <a
              class="inline-block font-bold text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
              routerLink="usuario"
              >{{ userData.user_username }}</a
            >
          </li>
          }

        @if (showUserLi) {
        <button
          id="navAction"
          routerLink="/login"
          class="mx-auto lg:mx-0 uppercase py-2 px-4 rounded-lg bg-blue-500 hover:bg-blue-900 border-2 border-transparent text-white text-md mr-4 transition duration-150 ease-in-out"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
        } @else {
        <button
          id="navAction"
          routerLink="/login"
          class="mx-auto lg:mx-0 uppercase py-2 px-4 rounded-lg bg-green-600 hover:bg-green-900 border-2 border-transparent text-white text-md mr-4 transition duration-150 ease-in-out"
        >
          Iniciar sesión
        </button>
        }
        -->
      </div>
    </nav>




  </body>
</html>
