<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover mt-20">

    <div class="max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg hover:shadow-blue-400">
        <div class="relative">
          <img class="w-full h-48 object-cover" src="https://images.theconversation.com/files/361577/original/file-20201005-18-lmf7w7.jpg?ixlib=rb-1.1.0&rect=142%2C16%2C5464%2C3715&q=45&auto=format&w=926&fit=clip" alt="Profile Image">
        </div>
        <div class="px-6 py-4">
          <div class="text-xl font-semibold text-gray-800">NombreUsuario</div>
          <p class="text-gray-600">Nombre real</p>
        </div>
        <div class="px-6 py-4">
        
          <span class="inline-block px-2 py-1 font-semibold text-indigo-900 bg-indigo-200 rounded-full">Leídos 20</span>
          <span class="inline-block px-2 py-1 font-semibold text-purple-900 bg-purple-200 rounded-full">Favoritos 20</span>
        </div>
      </div>
      
      <div class="flex justify-between"> 
<div class="bg-white shadow-md rounded-md overflow-hidden max-w-lg mx-auto mt-16">
        <div class="bg-gray-100 py-2 px-4">
            <h2 class="text-xl font-semibold text-gray-800">Leídos</h2>
        </div>
        <ul class="divide-y divide-gray-200">
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">1.</span>

                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">The Pale Horse</h3>
                    <p class="text-gray-600 text-base">Agatha Christie</p>
                </div>
            </li>
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">2.</span>
               
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">El hombre mojado no teme la lluvia</h3>
                    <p class="text-gray-600 text-base">Olga Rodríguez</p>
                </div>
            </li>
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">3.</span>
              
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Habla Nelson Mandela</h3>
                    <p class="text-gray-600 text-base">Nelson Mandela</p>
                </div>
            </li>
        
        </ul>
    </div>

    <div class="bg-white shadow-md rounded-md overflow-hidden max-w-lg mx-auto mt-16">
        <div class="bg-gray-100 py-2 px-4">
            <h2 class="text-xl font-semibold text-gray-800">Favoritos</h2>
        </div>
        <ul class="divide-y divide-gray-200">
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">1.</span>

                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Fracaso</h3>
                    <p class="text-gray-600 text-base">Aurora Bertrana</p>
                </div>
            </li>
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">2.</span>
               
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Una madre</h3>
                    <p class="text-gray-600 text-base">Diana Aradas</p>
                </div>
            </li>
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">3.</span>
              
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Limónov</h3>
                    <p class="text-gray-600 text-base">Enmanuel Carrére</p>
                </div>
            </li>
        
        </ul>
    </div>

      </div>
      


</body>
</html>
