<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    

<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover mt-20" style="background: linear-gradient(90deg, #217c6dcc 0%, #74d4be 100%);">

    @if(showLoginForm){
      <div class="flex h-screen bg-green-700" style="background: linear-gradient(90deg, #217c6dcc 0%, #74d4be 100%);">
        <div class="w-full max-w-xs m-auto bg-green-100 rounded p-5">   
              <header>
                <img class="w-25 mx-auto mb-5" src="../../../assets/images/logoJGP1-removebg-preview.png" />
              </header>   
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                  <label class="block mb-2 text-green-700" for="username">Usuario</label>
                  <input class="w-full p-2 mb-6 text-green-700 border-b-2 border-green-700 outline-none focus:bg-gray-300" id="username" type="text" formControlName="username" name="username">
                </div>
                <div>
                  <label class="block mb-2 text-green-700" for="password">Contraseña</label>
                  <input class="w-full p-2 mb-6 text-green-700 border-b-2 border-green-700 outline-none focus:bg-gray-300" type="password" formControlName="password" name="password">
                </div>
                <div>          
                  <button type="submit" class="w-full bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 mb-6 rounded"> Enviar </button>  
                </div>       
              </form>  
              <footer>
                <a class="text-green-700 hover:text-green-500 text-sm float-left registerBtn"(click)="toggleForm()">¿No tienes cuenta? Registrate aquí.</a>
              </footer>   
            </div>
        </div>
    
    
    }


    
    

    @if(!showLoginForm){<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <img class="mx-auto h-20 w-auto" src="../../../assets/images/logoJGP1-removebg-preview.png" alt="logoJGP">
          <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
              Regístrate
          </h2>
          <p class="mt-2 text-center text-sm leading-5 text-gray-500 max-w">
              o 
              <button 
                  class="font-medium text-green-700 hover:text-green-500 focus:outline-none focus:underline transition ease-in-out duration-150" (click)="toggleForm()">
                  inicia sesión con tu cuenta
              </button>
          </p>
      </div>
  
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div>
                      <label for="name" class="block text-sm font-medium leading-5  text-gray-700">Nombre</label>
                      <div class="mt-1 relative rounded-md shadow-sm">
                          <input id="name" formControlName="name" name="name" placeholder="Introduce tu nombre" type="text" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                          <div class="hidden absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                              <svg class="h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                  <path fill-rule="evenodd"
                                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                      clip-rule="evenodd">
                                  </path>
                              </svg>
                          </div>
                      </div>
                  </div>

                  
  
                  <div class="mt-6">
                      <label for="username" class="block text-sm font-medium leading-5 text-gray-700">Nombre de usuario</label>
                      <div class="mt-1 flex rounded-md shadow-sm">
  
                       
                          <input id="userName" formControlName="userName" name="name" placeholder="Introduce tu nombre de usuario" type="text" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                      </div>
                  </div>
  
                  <div class="mt-6">
                      <label for="email" class="block text-sm font-medium leading-5  text-gray-700">
              Email 
            </label>
                      <div class="mt-1 relative rounded-md shadow-sm">
                          <input id="email" name="email" placeholder="usuario@ejemplo.com" type="email" required="" value="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5
                  ">
                          <div class="hidden absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                              <svg class="h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                  <path fill-rule="evenodd"
                                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                      clip-rule="evenodd"></path>
                              </svg>
                          </div>
                      </div>
                  </div>
  
                  <div class="mt-6">
                      <label for="password" class="block text-sm font-medium leading-5 text-gray-700">
                  Contraseña
              </label>
                      <div class="mt-1 rounded-md shadow-sm">
                          <input id="password" name="password" type="password" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                      </div>
                  </div>
  
                  <div class="mt-6">
                      <label for="password_confirmation" class="block text-sm font-medium leading-5 text-gray-700">
                 Confirmar contraseña
              </label>
                      <div class="mt-1 rounded-md shadow-sm">
                          <input id="password_confirmation" name="password_confirmation" type="password" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                      </div>
                  </div>
  
                  <div class="mt-6">
                      <span class="block w-full rounded-md shadow-sm">
              <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-700 hover:bg-green-900 focus:outline-none focus:border-green-700 focus:shadow-outline-indigo active:bg-green-700 transition duration-150 ease-in-out">
                Crear cuenta
              </button>
            </span>
                  </div>
              </form>
  
          </div>
      </div>
  </div>


    
    }
    
</body>
</html>
